<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448991954233-5hhbfl1dnm8hsdsmm45tf20tm96hj3qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448991954233-5hhbfl1dnm8hsdsmm45tf20tm96hj3qn</string>
	<key>API_KEY</key>
	<string>AIzaSyA7z8jEEuHn8xtjEpiVqJu8aTHOicilKd8</string>
	<key>GCM_SENDER_ID</key>
	<string>448991954233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tablein.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tablein-56028</string>
	<key>STORAGE_BUCKET</key>
	<string>tablein-56028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448991954233:ios:25aa8f2e3b7573d23094e8</string>
</dict>
</plist>